.order-details {
  padding: 20px;
}
.order-details .message {
  color: rgb(93, 93, 243);
  font-weight: 500;
  font-size: 20px;
}
.order-details .orders {
  padding: 15px;
}
.order-details .shipping-details {
  margin-left: 10px;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.order-details .meal-details {
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.meal-details p {
  font-weight: 600;
  font-size: larger;
  color: gray;
}
.shipping-details p {
  font-weight: 600;
  font-size: larger;
  color: gray;
}
.order-details .meal-images {
  object-fit: cover;
  width: 100%;
}
.thanks-message {
  text-align: center;
  color: rgb(253, 85, 0);
  font-weight: 600;
}
