.list-cards {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.list-cards .card .ant-card-body {
  padding: 10px;
}
.list-cards .card h1 {
  font-size: 20px;
  margin: 0;
}
.list-cards .card .area {
  font-size: 16px;
  color: orangered;
  font-style: italic;
  margin: 0;
}
.list-cards .card p {
  font-size: 14px;
  color: green;
  font-weight: 500;
}
.list-cards .card {
  width: 255px;
  margin: 5px;
}
.list-cards .listed-images {
  object-fit: cover;
  width: 100%;
  padding: 5px;
}
