.list-cards {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.list-cards .card .ant-card-body {
  padding: 10px;
}
.list-cards .card-rightside {
  padding: 10px;
}
.list-cards .card-rightside h1 {
  font-size: 30px;
}
.list-cards .card-rightside p {
  font-size: 20px;
  color: green;
  font-weight: 500;
  font-style: italic;
}
.list-cards .card {
  width: 49%;
  margin: 5px;
}
.list-cards .listed-images {
  object-fit: cover;
  width: 100%;
}
