.home-layout .title {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
}
.home-layout .content {
  padding: 15px;
}
.home-layout .searchbar {
  padding: 20px;
  width: 50%;
  margin-left: 25%;
}
